.e201_2 { 
	background-color:rgba(0, 86.69997811317444, 255, 1);
	width:1920px;
	height:7745px;
	position:absolute;
}
.e1_7 { 
	background-color:rgba(0, 86.69997811317444, 255, 1);
	width:1920px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_5 { 
	background-color:rgba(45.59895157814026, 218.87500405311584, 114.9093908071518, 1);
	width:1920px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_6 { 
	color:rgba(0, 0, 0, 1);
	width:746px;
	height:22px;
	position:absolute;
	left:564px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:252px;
	position:absolute;
	left:0px;
	top:72px;
}
.e1_9 { 
	background-color:rgba(0, 17.84999817609787, 63.75, 1);
	width:1920px;
	height:252px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_12 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:46px;
	position:absolute;
	left:283px;
	top:103px;
	font-family:Istok Web;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e2_2 { 
	transform: rotate(40.013209662886084deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:58.78388977050781px;
	height:90.7942886352539px;
	position:absolute;
	left:123.94473266601562px;
	top:117.42129516601562px;
}
.e2_6 { 
	transform: rotate(-128.75493414404886deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60.019004821777344px;
	height:88.95755767822266px;
	position:absolute;
	left:197.5713348388672px;
	top:134.5216064453125px;
}
.e2_5 { 
	transform: rotate(140.9151973841338deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:58.686309814453125px;
	height:90.93621063232422px;
	position:absolute;
	left:170.72691345214844px;
	top:98.04074096679688px;
}
.e2_4 { 
	transform: rotate(-28.26098221388132deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:57.65400695800781px;
	height:92.4100341796875px;
	position:absolute;
	left:154.14108276367188px;
	top:144.71981811523438px;
}
.e2_7 { 
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:58px;
	position:absolute;
	left:584px;
	top:94px;
	font-family:Istok Web;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}
.e2_8 { 
	color:rgba(255, 255, 255, 1);
	width:247px;
	height:46px;
	position:absolute;
	left:817px;
	top:96px;
	font-family:Istok Web;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}
.e2_9 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:39px;
	position:absolute;
	left:1064px;
	top:91px;
	font-family:Istok Web;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}
.e2_10 { 
	color:rgba(255, 255, 255, 1);
	width:148px;
	height:39px;
	position:absolute;
	left:1257px;
	top:96px;
	font-family:Istok Web;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}
.e2_11 { 
	color:rgba(255, 255, 255, 1);
	width:202px;
	height:51px;
	position:absolute;
	left:1432px;
	top:98px;
	font-family:Istok Web;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
}
.e2_13 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:11px;
	position:absolute;
	left:1780px;
	top:134px;
}
.e2_14 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:11px;
	position:absolute;
	left:1825px;
	top:134px;
}
.2_28 { 
	border:3.9375px solid rgba(255, 255, 255, 1);
}
.e2_28 { 
	width:56.4375px;
	height:0.328125px;
	position:absolute;
	left:1780px;
	top:114px;
}
.2_38 { 
	border:3.9375px solid rgba(255, 255, 255, 1);
}
.e2_38 { 
	width:56.4375px;
	height:0.328125px;
	position:absolute;
	left:1780px;
	top:99px;
}
.2_36 { 
	border:6px solid rgba(255, 255, 255, 1);
}
.e2_36 { 
	width:72px;
	height:35px;
	position:absolute;
	left:1761px;
	top:94px;
}
.e2_39 { 
	border-radius:500px;
	background-color:rgba(236.93750202655792, 70.09401798248291, 70.09401798248291, 1);
	width:43px;
	height:34px;
	position:absolute;
	left:1814px;
	top:82px;
}
.e2_40 { 
	color:rgba(255, 255, 255, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:1830px;
	top:90px;
	font-family:Istok Web;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e3_2 { 
	box-shadow:21px 21px 30px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.4000000059604645);
	width:526px;
	height:572px;
	position:absolute;
	left:1061px;
	top:507px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_3 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	background-image:linear-gradient(0deg, rgba(86.37419879436493, 23.02083671092987, 221.00000202655792, 1) 0%,rgba(129.31051164865494, 91.16249665617943, 210.37499696016312, 0) 100%) ;
	width:375px;
	height:375px;
	position:absolute;
	left:1346px;
	top:853px;
	border-top-left-radius:999px;
	border-top-right-radius:56px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e3_5 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	background-image:linear-gradient(0deg, rgba(86.37419879436493, 23.02083671092987, 221.00000202655792, 1) 0%,rgba(129.31051164865494, 91.16249665617943, 210.37499696016312, 0) 100%) ;
	width:158px;
	height:141px;
	position:absolute;
	left:1429px;
	top:563px;
	border-top-left-radius:999px;
	border-top-right-radius:56px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e3_4 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	transform: rotate(-107.27771645845662deg);
	background-image:linear-gradient(0deg, rgba(86.37419879436493, 23.02083671092987, 221.00000202655792, 1) 0%,rgba(129.31051164865494, 91.16249665617943, 210.37499696016312, 0) 100%) ;
	width:224.9728240966797px;
	height:212.78382873535156px;
	position:absolute;
	left:1215.8177490234375px;
	top:661.018798828125px;
	border-top-left-radius:999px;
	border-top-right-radius:56px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e3_6 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:152px;
	height:21px;
	position:absolute;
	left:180px;
	top:506px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e3_7 { 
	color:rgba(255, 255, 255, 1);
	width:509px;
	height:182px;
	position:absolute;
	left:42px;
	top:573px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
	line-height:px;
}
.e3_8 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:548px;
	height:66px;
	position:absolute;
	left:22px;
	top:760px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_9 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:268px;
	height:92px;
	position:absolute;
	left:121px;
	top:905px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e3_10 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:34px;
	position:absolute;
	left:184px;
	top:934px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_11 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:150px;
	height:2px;
	position:absolute;
	left:173px;
	top:527px;
}
.e3_12 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:150px;
	height:2px;
	position:absolute;
	left:835px;
	top:1780px;
}
.e3_13 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:345px;
	height:53px;
	position:absolute;
	left:169px;
	top:10px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e3_14 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:573px;
	height:53px;
	position:absolute;
	left:629px;
	top:1716px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e3_15 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:644px;
	height:66px;
	position:absolute;
	left:588px;
	top:1793px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_16 { 
	width:1372px;
	height:833.65625px;
	position:absolute;
	left:230px;
	top:1644px;
}
.e3_17 { 
	width:686px;
	height:324px;
	position:absolute;
	left:343px;
	top:0px;
}
.e3_20 { 
	width:223px;
	height:59px;
	position:absolute;
	left:245px;
	top:265px;
}
.e3_21 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:223px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e4_56 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:34px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e3_24 { 
	width:1276px;
	height:429.65625px;
	position:absolute;
	left:48px;
	top:404px;
}
.e3_25 { 
	width:393px;
	height:421px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_26 { 
	width:393px;
	height:626px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_27 { 
	width:393px;
	height:430px;
	position:absolute;
	left:0px;
	top:197px;
}
.e3_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:224px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_29 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:99px;
	height:27px;
	position:absolute;
	left:24px;
	top:88px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e3_30 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:146px;
	height:21px;
	position:absolute;
	left:24px;
	top:173px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e3_31 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:280px;
	height:29px;
	position:absolute;
	left:24px;
	top:22px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_32 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:114px;
	height:27px;
	position:absolute;
	left:24px;
	top:130px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_33 { 
	width:393px;
	height:197px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_34 { 
	width:393px;
	height:430px;
	position:absolute;
	left:883px;
	top:0px;
}
.e3_35 { 
	width:393px;
	height:626px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_36 { 
	width:393px;
	height:430px;
	position:absolute;
	left:0px;
	top:197px;
}
.e3_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:430px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_38 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:281px;
	height:58px;
	position:absolute;
	left:24px;
	top:22px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_39 { 
	width:360px;
	height:27px;
	position:absolute;
	left:-92px;
	top:130px;
}
.e3_41 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:118.84349060058594px;
	height:27px;
	position:absolute;
	left:127.54173278808594px;
	top:-0.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_42 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:130px;
	height:21px;
	position:absolute;
	left:24px;
	top:173px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e3_43 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:128px;
	height:27px;
	position:absolute;
	left:24px;
	top:88px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e3_44 { 
	width:393px;
	height:197px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_45 { 
	width:393px;
	height:430px;
	position:absolute;
	left:441px;
	top:0px;
}
.e3_46 { 
	width:393px;
	height:626px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_47 { 
	width:393px;
	height:197px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_48 { 
	width:393px;
	height:430px;
	position:absolute;
	left:0px;
	top:197px;
}
.e3_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:430px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_50 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:107px;
	height:27px;
	position:absolute;
	left:24px;
	top:88px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e3_51 { 
	width:345.328125px;
	height:27px;
	position:absolute;
	left:24.328125px;
	top:130.65625px;
}
.e3_52 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:114px;
	height:27px;
	position:absolute;
	left:-0.328125px;
	top:0.34375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e3_54 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:313px;
	height:58px;
	position:absolute;
	left:24px;
	top:22px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_55 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:143px;
	height:21px;
	position:absolute;
	left:24px;
	top:173px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e7_2 { 
	width:1440px;
	height:664px;
	position:absolute;
	left:166px;
	top:2675px;
}
.e7_3 { 
	width:720px;
	height:664px;
	position:absolute;
	left:0px;
	top:0.34375px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_4 { 
	width:720px;
	height:664px;
	position:absolute;
	left:720px;
	top:0.34375px;
}
.e7_5 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:720px;
	height:664px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_6 { 
	width:624px;
	height:376px;
	position:absolute;
	left:48px;
	top:143.65625px;
}
.e7_7 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:150px;
	height:2px;
	position:absolute;
	left:0px;
	top:120.34375px;
}
.e7_8 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:618px;
	height:66px;
	position:absolute;
	left:0px;
	top:172.34375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e7_9 { 
	width:160px;
	height:59px;
	position:absolute;
	left:0px;
	top:317.34375px;
}
.e7_10 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:160px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e7_11 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:162px;
	height:27px;
	position:absolute;
	left:-2px;
	top:15.65625px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e7_12 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:513px;
	height:106px;
	position:absolute;
	left:0px;
	top:-1.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e7_13 { 
	width:1372px;
	height:676px;
	position:absolute;
	left:162px;
	top:3437px;
}
.e7_14 { 
	width:686px;
	height:324px;
	position:absolute;
	left:343px;
	top:0px;
}
.e7_15 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:150px;
	height:2px;
	position:absolute;
	left:268px;
	top:68.34375px;
}
.e7_16 { 
	width:247px;
	height:59px;
	position:absolute;
	left:220px;
	top:265.34375px;
}
.e7_17 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:247px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e7_18 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:199px;
	height:27px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e7_19 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:670px;
	height:106px;
	position:absolute;
	left:58px;
	top:0px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e7_20 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:66px;
	position:absolute;
	left:21px;
	top:120.34375px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e7_21 { 
	width:1276px;
	height:272px;
	position:absolute;
	left:48px;
	top:404px;
}
.e7_22 { 
	width:393px;
	height:270px;
	position:absolute;
	left:0px;
	top:1.34375px;
}
.7_23 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e7_23 { 
	width:393px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e7_24 { 
	width:391px;
	height:270px;
	position:absolute;
	left:1px;
	top:0px;
}
.e7_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_26 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:332px;
	height:108px;
	position:absolute;
	left:24px;
	top:62px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e7_28 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:151px;
	height:21px;
	position:absolute;
	left:21px;
	top:235.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e7_43 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:34px;
	position:absolute;
	left:21px;
	top:17.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e7_29 { 
	width:393px;
	height:270px;
	position:absolute;
	left:441px;
	top:1.34375px;
}
.7_30 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e7_30 { 
	width:393px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e7_31 { 
	width:391px;
	height:270px;
	position:absolute;
	left:1px;
	top:0px;
}
.e7_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_33 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:288px;
	height:29px;
	position:absolute;
	left:24px;
	top:21.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e7_34 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:161px;
	height:21px;
	position:absolute;
	left:24px;
	top:224.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e7_44 { 
	color:rgba(0, 0, 0, 1);
	width:360px;
	height:155px;
	position:absolute;
	left:14px;
	top:56.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}
.e7_36 { 
	width:393px;
	height:270px;
	position:absolute;
	left:883px;
	top:1.34375px;
}
.7_37 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e7_37 { 
	width:393px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e7_38 { 
	width:391px;
	height:270px;
	position:absolute;
	left:1px;
	top:0px;
}
.e7_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_40 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:332px;
	height:135px;
	position:absolute;
	left:24px;
	top:62px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e7_41 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:151px;
	height:21px;
	position:absolute;
	left:24px;
	top:224.65625px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e7_42 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:262px;
	height:29px;
	position:absolute;
	left:24px;
	top:22px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e7_45 { 
	width:1920px;
	height:506px;
	position:absolute;
	left:4px;
	top:4224px;
}
.e7_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(20.798442363739014, 172.12500303983688, 112.75841742753983, 1);
	width:1920px;
	height:506px;
	position:absolute;
	left:0px;
	top:0px;
}
.e7_47 { 
	width:1361.0625px;
	height:346px;
	position:absolute;
	left:279.45831298828125px;
	top:79.65625px;
}
.e7_48 { 
	width:1020.796875px;
	height:266px;
	position:absolute;
	left:171px;
	top:0px;
}
.e7_60 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:1006px;
	height:168px;
	position:absolute;
	left:7.40625px;
	top:76.34375px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.e7_61 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:186px;
	height:27px;
	position:absolute;
	left:417.40625px;
	top:239.34375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e7_62 { 
	width:1361.0625px;
	height:40px;
	position:absolute;
	left:0px;
	top:306px;
}
.e7_63 { 
	background-color:rgba(255, 0, 45.89995622634888, 0.699999988079071);
	width:18px;
	height:18px;
	position:absolute;
	left:685.40625px;
	top:10.34375px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e7_64 { 
	background-color:rgba(0, 56.10000729560852, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:659.40625px;
	top:10.34375px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e8_65 { 
	width:1020.796875px;
	height:33px;
	position:absolute;
	left:115px;
	top:65px;
}
.e8_66 { 
	width:32px;
	height:29px;
	position:absolute;
	left:422.40625px;
	top:2.34375px;
}
.e8_67 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e8_68 { 
	width:32px;
	height:29px;
	position:absolute;
	left:494.40625px;
	top:2.34375px;
}
.e8_69 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e8_70 { 
	width:32px;
	height:29px;
	position:absolute;
	left:566.40625px;
	top:2.34375px;
}
.e8_71 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e8_72 { 
	width:32px;
	height:29px;
	position:absolute;
	left:458.40625px;
	top:2.34375px;
}
.e8_73 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e8_74 { 
	width:32px;
	height:29px;
	position:absolute;
	left:530.40625px;
	top:2.34375px;
}
.e8_75 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e7_49 { 
	width:1020.796875px;
	height:33px;
	position:absolute;
	left:997px;
	top:63px;
}
.e7_50 { 
	width:32px;
	height:29px;
	position:absolute;
	left:422.40625px;
	top:2.34375px;
}
.e7_51 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e7_52 { 
	width:32px;
	height:29px;
	position:absolute;
	left:494.40625px;
	top:2.34375px;
}
.e7_53 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e7_54 { 
	width:32px;
	height:29px;
	position:absolute;
	left:566.40625px;
	top:2.34375px;
}
.e7_55 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e7_56 { 
	width:32px;
	height:29px;
	position:absolute;
	left:458.40625px;
	top:2.34375px;
}
.e7_57 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e7_58 { 
	width:32px;
	height:29px;
	position:absolute;
	left:530.40625px;
	top:2.34375px;
}
.e7_59 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:30.433805465698242px;
	height:28.944278717041016px;
	position:absolute;
	left:0.7830950021743774px;
	top:0.0012206999817863107px;
}
.e8_76 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:1440px;
	height:822px;
	position:absolute;
	left:258px;
	top:4792px;
}
.e8_77 { 
	width:1440px;
	height:822px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_78 { 
	width:1276px;
	height:534px;
	position:absolute;
	left:82px;
	top:112px;
}
.e8_79 { 
	width:614px;
	height:534px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_80 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:375px;
	position:absolute;
	left:207px;
	top:215.34375px;
	border-top-left-radius:999px;
	border-top-right-radius:32px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_95 { 
	box-shadow:21px 21px 30px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.4000000059604645);
	width:534px;
	height:534px;
	position:absolute;
	left:0px;
	top:0.34375px;
	border-top-left-radius:999px;
	border-top-right-radius:32px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_96 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	background-color:rgba(224.18749898672104, 255, 242.91201263666153, 1);
	width:120px;
	height:120px;
	position:absolute;
	left:-16px;
	top:9.34375px;
	border-radius:Symbol(figma.mixed)px;
}
.e8_97 { 
	box-shadow:14px 14px 20px rgba(28.000000230968, 28.000000230968, 51.00000075995922, 0.5);
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:67px;
	top:-34.65625px;
	border-top-left-radius:999px;
	border-top-right-radius:56px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_98 { 
	width:614px;
	height:534px;
	position:absolute;
	left:662px;
	top:0px;
}
.e8_99 { 
	width:175px;
	height:59px;
	position:absolute;
	left:0px;
	top:353.34375px;
}
.e8_100 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:175px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_101 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:127px;
	height:27px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e8_102 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:440px;
	height:53px;
	position:absolute;
	left:0px;
	top:119.34375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e8_103 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:290px;
	height:2px;
	position:absolute;
	left:0px;
	top:193.34375px;
}
.e8_104 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:548px;
	height:33px;
	position:absolute;
	left:0px;
	top:241.34375px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e8_105 { 
	width:1372px;
	height:798.65625px;
	position:absolute;
	left:292px;
	top:5758px;
}
.e8_106 { 
	width:686px;
	height:324px;
	position:absolute;
	left:343px;
	top:0px;
}
.e8_107 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:150px;
	height:2px;
	position:absolute;
	left:268px;
	top:68.34375px;
}
.e8_108 { 
	width:218px;
	height:59px;
	position:absolute;
	left:234px;
	top:265.34375px;
}
.e8_109 { 
	background-color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:218px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_110 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:170px;
	height:27px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e8_111 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:298px;
	height:53px;
	position:absolute;
	left:194px;
	top:-1.65625px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e8_112 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:644px;
	height:99px;
	position:absolute;
	left:21px;
	top:120.34375px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e8_113 { 
	width:1276px;
	height:394.65625px;
	position:absolute;
	left:48px;
	top:404px;
}
.e8_114 { 
	width:393px;
	height:433px;
	position:absolute;
	left:0px;
	top:1.34375px;
}
.8_115 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e8_115 { 
	width:393px;
	height:588px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_116 { 
	width:391px;
	height:196px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_117 { 
	width:391px;
	height:393px;
	position:absolute;
	left:1px;
	top:195px;
}
.e8_118 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:393px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_119 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:319px;
	height:29px;
	position:absolute;
	left:24px;
	top:73px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e8_120 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:122px;
	height:27px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_122 { 
	width:393px;
	height:433px;
	position:absolute;
	left:441px;
	top:1.34375px;
}
.8_123 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e8_123 { 
	width:393px;
	height:588px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_124 { 
	width:391px;
	height:196px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_125 { 
	width:391px;
	height:393px;
	position:absolute;
	left:1px;
	top:195px;
}
.e8_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:393px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_127 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:122px;
	height:27px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_129 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:352px;
	height:58px;
	position:absolute;
	left:24px;
	top:73px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e8_130 { 
	width:393px;
	height:433px;
	position:absolute;
	left:883px;
	top:1.34375px;
}
.8_131 { 
	border:1px solid rgba(228.0000016093254, 228.0000016093254, 229.00000154972076, 1);
}
.e8_131 { 
	width:393px;
	height:588px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_132 { 
	width:391px;
	height:196px;
	position:absolute;
	left:1px;
	top:0px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_133 { 
	width:391px;
	height:393px;
	position:absolute;
	left:1px;
	top:195px;
}
.e8_134 { 
	background-color:rgba(255, 255, 255, 1);
	width:391px;
	height:393px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_135 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:281px;
	height:58px;
	position:absolute;
	left:24px;
	top:73px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e8_137 { 
	color:rgba(78.00000295042992, 78.00000295042992, 101.00000157952309, 1);
	width:125px;
	height:27px;
	position:absolute;
	left:24px;
	top:24px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_138 { 
	width:1440px;
	height:347px;
	position:absolute;
	left:258px;
	top:6700.3125px;
}
.e8_139 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:1440px;
	height:174px;
	position:absolute;
	left:0px;
	top:173.6875px;
}
.e8_140 { 
	width:1276px;
	height:347px;
	position:absolute;
	left:82px;
	top:-0.3125px;
}
.e8_141 { 
	background-color:rgba(211.3489606976509, 233.7500050663948, 224.9618974328041, 1);
	width:1276px;
	height:347px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_142 { 
	width:532px;
	height:64px;
	position:absolute;
	left:372px;
	top:188.3125px;
}
.8_143 { 
	border:1px solid rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
}
.e8_143 { 
	width:400px;
	height:64px;
	position:absolute;
	left:0px;
	top:-0.3125px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_144 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:116px;
	height:64px;
	position:absolute;
	left:416px;
	top:-0.3125px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_145 { 
	color:rgba(87.00000241398811, 217.0000022649765, 166.00000530481339, 1);
	width:100px;
	height:53px;
	position:absolute;
	left:423px;
	top:4.6875px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e8_146 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:824px;
	height:106px;
	position:absolute;
	left:226px;
	top:78px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e8_147 { 
	color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:107px;
	height:53px;
	position:absolute;
	left:408px;
	top:193px;
	font-family:Source Sans Pro;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e8_148 { 
	width:1440px;
	height:698px;
	position:absolute;
	left:258px;
	top:7047px;
}
.e8_149 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:1440px;
	height:698px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_150 { 
	width:1372px;
	height:410px;
	position:absolute;
	left:34px;
	top:144.3125px;
}
.e8_157 { 
	width:1276px;
	height:286px;
	position:absolute;
	left:48px;
	top:133.6875px;
}
.e8_167 { 
	width:264px;
	height:70px;
	position:absolute;
	left:350px;
	top:215.6875px;
}
.e8_168 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:78.36042022705078px;
	height:21px;
	position:absolute;
	left:350px;
	top:205px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e8_174 { 
	width:658px;
	height:107px;
	position:absolute;
	left:938px;
	top:574px;
}
.e8_175 { 
	width:658px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e8_176 { 
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:-0.3125px;
}
.e8_177 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_178 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:12px;
}
.e8_179 { 
	background-color:rgba(0, 0, 0, 1);
	width:21.0533390045166px;
	height:23.962949752807617px;
	position:absolute;
	left:1.473024845123291px;
	top:0.018249500542879105px;
}
.e8_180 { 
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:137.17263793945312px;
	top:-0.3125px;
}
.e8_181 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_182 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:12px;
}
.e8_183 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:23.991140365600586px;
	height:16.767074584960938px;
	position:absolute;
	left:0.0062255882658064365px;
	top:3.616025686264038px;
}
.e8_184 { 
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:274.34527587890625px;
	top:-0.3125px;
}
.e8_185 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_186 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:12px;
}
.e8_187 { 
	width:24.000999450683594px;
	height:19.506929397583008px;
	position:absolute;
	left:0px;
	top:2.2459700107574463px;
}
.e8_188 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:24.000999450683594px;
	height:19.506929397583008px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_189 { 
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:68.58631896972656px;
	top:-0.3125px;
}
.e8_190 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_191 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:12px;
}
.e8_192 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_193 { 
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:205.7589569091797px;
	top:-0.3125px;
}
.e8_194 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:51.43973922729492px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e8_195 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:12px;
}
.e8_196 { 
	background-color:rgba(28.000000230968, 28.000000230968, 51.00000075995922, 1);
	width:11.198389053344727px;
	height:24px;
	position:absolute;
	left:6.267210006713867px;
	top:0px;
}
.e8_197 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:398px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e8_158 { 
	width:283px;
	height:286px;
	position:absolute;
	left:82px;
	top:481px;
}
.e8_159 { 
	width:283px;
	height:242px;
	position:absolute;
	left:0px;
	top:44px;
}
.e8_160 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:46px;
	height:27px;
	position:absolute;
	left:0px;
	top:-0.3125px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e8_161 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:120px;
	height:27px;
	position:absolute;
	left:0px;
	top:85.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e8_162 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:45px;
	height:27px;
	position:absolute;
	left:0px;
	top:171.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_163 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:60px;
	height:27px;
	position:absolute;
	left:0px;
	top:42.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_164 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:60px;
	height:27px;
	position:absolute;
	left:0px;
	top:214.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e8_165 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:35px;
	height:27px;
	position:absolute;
	left:0px;
	top:128.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e8_166 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:171px;
	height:21px;
	position:absolute;
	left:0px;
	top:-0.3125px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
	line-height:px;
}
.e8_169 { 
	width:283px;
	height:156px;
	position:absolute;
	left:425px;
	top:511px;
}
.e8_170 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:84px;
	height:27px;
	position:absolute;
	left:0px;
	top:42.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_171 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:80px;
	height:27px;
	position:absolute;
	left:0px;
	top:128.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e8_172 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:64px;
	height:27px;
	position:absolute;
	left:0px;
	top:85.6875px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e8_173 { 
	color:rgba(246.0000005364418, 246.0000005364418, 248.0000004172325, 1);
	width:90px;
	height:27px;
	position:absolute;
	left:0px;
	top:-0.3125px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e11_2 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:46px;
	position:absolute;
	left:264px;
	top:105px;
	font-family:Istok Web;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e11_3 { 
	transform: rotate(40.013209662886084deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:58.78388977050781px;
	height:90.7942886352539px;
	position:absolute;
	left:104.94474792480469px;
	top:119.42138671875px;
}
.e11_4 { 
	transform: rotate(-128.75493414404886deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:60.019004821777344px;
	height:88.95755767822266px;
	position:absolute;
	left:178.5713653564453px;
	top:136.521484375px;
}
.e11_5 { 
	transform: rotate(140.9151973841338deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:58.686309814453125px;
	height:90.93621063232422px;
	position:absolute;
	left:411.42498779296875px;
	top:7147.04052734375px;
}
.e11_6 { 
	transform: rotate(-28.26098221388132deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:57.65400695800781px;
	height:92.4100341796875px;
	position:absolute;
	left:394.83917236328125px;
	top:7193.7197265625px;
}
